{% extends "layout.html" %}
{% block content %}

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="/static/images/carrot_darken.jpg" style="width:100%;">
        <div class="center-table">
            <div class="logo"></div>
            <p>
                Welcome to CityGreens , we hope you will find whatever products you so desire here ;)
            </p>
            <button class="button"onclick="location.href='/login'";>BUY NOW</button>
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="/static/images/tomatoes.jpg" style="width:100%">
        <div class="center-table">
            <div class="logo"></div>
            <p>
               Welcome to CityGreens , we hope you will find whatever products you so desire here ;)
            </p>
            <button class="button"onclick="location.href='/login'";>BUY NOW</button>
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="/static/images/greenbeans.jpg" style="width:100%">
        <div class="center-table">
            <div class="logo"></div>
            <p>
               Welcome to CityGreens , we hope you will find whatever products you so desire here ;)
            </p>
            <button class="button"onclick="location.href='/login'";>BUY NOW</button>
        </div>
    </div>

</div>


<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

{% endblock %}
