{% extends "layout.html" %}
{% block content %}

<div class="slideshow-container">

    <div class="mySlides fade" >
        <div class="numbertext" style="margin-left: -225px;">1 / 3</div>

        <img src="/static/images/carrot_darken.jpg" style="width:1450px;height: 536px; margin-left: -225px;">
        <div class="center-table">
            <div class="logo"></div>
            <p>
                Welcome to CityGreens , we hope you will find whatever products you so desire here ;)
            </p>
            <button class="button"onclick="location.href='/login'";>BUY NOW</button>
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"style="margin-left: -225px;">2 / 3</div>
        <img src="/static/images/tomatoes.jpg"style="width:1450px;height: 536px; margin-left: -225px;">
        <div class="center-table">
            <div class="logo"></div>
            <p>
               Welcome to CityGreens , we hope you will find whatever products you so desire here ;)
            </p>
            <button class="button"onclick="location.href='/login'";>BUY NOW</button>
        </div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext"style="margin-left: -225px;">3 / 3</div>
        <img src="/static/images/greenbeans.jpg" style="width:1450px;height: 536px; margin-left: -225px;">
        <div class="center-table">
            <div class="logo"></div>
            <p>
               Welcome to CityGreens , we hope you will find whatever products you so desire here ;)
            </p>
            <button class="button"onclick="location.href='/login'";>BUY NOW</button>
        </div>
    </div>
</div>


<div style="text-align:center;margin-top: -8px;">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

{% endblock %}
